@import 'tailwindcss';

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-right {
  animation: marquee-right 40s linear infinite;
}
